body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(./background/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gif-image {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  position: fixed;
  background-size: contain;
  width: 2000px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: inherit;
  filter: blur(2px);
  z-index: -1;
}

#text {
  font-weight: 800;
}

#t2 {
  font-style: oblique;
}

.next-button {
  display: none;
  margin-top: 0 auto;
  justify-content: right;
}
